<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">

    <title>{{title}}</title>
  </head>
  <body>
   {% include './nav.html' %}

   <table class="table">
    <thead>
      <tr>
        <th scope="col">#id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Date de creation</th>
        <th scope='col'>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for simplonien in simploniens %}
      <tr>
        <td>{{ simplonien.id }}</td>
        <td>{{ simplonien.nom }}</td>
        <td>{{ simplonien.prenom }}</td>
        <td>{{ simplonien.created_at }}</td>
        <td>
          <form action="{% url 'supprimer' id %}" method="GET">
            <input type="text" name="" id="" value="{{ simplonien.id }}">
            
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
   {% block content %}
   {% endblock %}

   {% include './footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  </body>
</html>